:root {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/******* NAVBAR *******/
.Nav {
  background-color: #5e677a;
}

.logo {
  width: 150px;
  margin: 20px;
}

.country {
  width: 125px;
  margin: 20px;
}

.category {
  width: 125px;
  margin: 20px;
}

/******* CARDS *******/

.cards-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 200px;
  height: 400px;
  margin: 20px 100px;
}

.card img{
  height: 400px;
}



.App {}

.Homepage-bg-img {}

.Homepage-card-container {}

.Homepage-countries-card {}

.Homepage-categories-card {}
