:root {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/******* NAVBAR *******/
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 20px 30px;
}

.nav img{
  height: 30px;
}

.logo,
.country,
.category{
  margin: auto 30px;
}

.App {}

.Homepage-bg-img {}

.Homepage-card-container {}

.Homepage-countries-card {}

.Homepage-categories-card {}