:root {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/******* NAVBAR *******/
.Nav {
  background-color: #5e677a;
}

.logo {
  width: 150px;
  margin: 20px;
}

.country {
  width: 125px;
  margin: 20px;
}

.category {
  width: 125px;
  margin: 20px;
}

.country-card {
  width: 300px;
  margin: 20px;
}

.App {
}

.Homepage-bg-img {
}

.Homepage-card-container {
}

.Homepage-countries-card {
}

.Homepage-categories-card {
}
